body {
    background: url("../img/133.jpg");
    background-size: 400px 400px;
    font-family: 'Roboto Slab';
}

.container {
    margin-top: 10%;
}

#male {
    background: rgba(0, 217, 255, 0.596);
}

#male:hover {
    background: rgba(0, 195, 255, 0.548);
}

#female {
    background: rgba(255, 0, 0, 0.507);
}

#female:hover {
    background: rgba(255, 0, 0, 0.616);
}

.card-title {
    text-align: center;
    font-weight: bold;
    color: rgb(53, 53, 53);
}

.card-img-top {
    margin: 20px 25%;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.card:hover {
    box-shadow: 5px 7px 34px -22px rgba(0, 0, 0, 0.521);
}

.card {
    box-shadow: 10px 7px 34px -22px rgba(0, 0, 0, 0.26);
    margin-bottom: 20px;
}

.col-sm-4 {
    margin-left: 10%;
}

footer .social {
    font-size: 20px;
    color: white;
    margin: 5px;
}

footer .container {
    padding-top: 10px;
}

footer {
    padding-bottom: 10px;
}

footer .designed {
    padding: 0;
    font-size: 10px;
}

.modal a {
    font-size: 30px;
    margin: 20px;
    padding: 0;
}

.facebook {
    color: #4267B2;
}

.twitter {
    color: #1DA1F2;
}

.whatsapp {
    color: green;
}

.linked {
    color: #0077B5;
}

.github {
    color: black;
}

.github :hover {
    color: gray;
}